@import '../../styles/variables.scss';

.wrapper{
    position: fixed;
    bottom: 0;
    width: calc(100vw - (2 * $unit-l));
    padding: $unit-m $unit-l;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -8px 12px rgba(0, 0, 0, 0.05);
    background-color: $clr-white;
    z-index: 999;
    transition: .5s ease-in-out all;

    .icon{
        height: 35px;
    }

    .trip{
        background-color: $clr-blue;
        padding: $unit-l;
        margin-top: -$unit-xl-h;
        border-radius: 100%;

        &.tripActive {
            background-color: $clr-orange;
        }
    }

    &.hidden{
        transform: translateY(200%);
    }
}